.menu-element
  &__icon-vert
    margin 1rem
    width 20px
    height 20px
    z-index 1
  
  &__icon
    position absolute
    margin-top -1rem
    width 20px
    height 20px
    z-index 1

  &__menu-list
    display flex
    justify-content space-between
    &:hover
      background-color #c9c9be !important

  &__menu-section
    width 25rem
    & > *:hover
      background-color #c9c9be !important

  &__edit-menu-section
    width 25rem
    padding-left 2rem