.app
  background-color #f0f0f0
  display flex

  & ul
    width 25rem

  &__tasks-header-title
    padding-left 1rem

  &__tasks-section
    padding-left 1rem
    background-color #ececec
    flex 1

  &__menu-section
    width 25rem
    & > *:hover
      background-color #c9c9be !important

  &__icon
    position absolute
    margin-top -1rem
    width 20px
    height 20px
    z-index 1
