.app
  background-color #f0f0f0
  display flex

  & ul
    width 25rem

  &__tasks-header-title
    padding-left 1rem

  &__tasks-section
    background-color #ececec
    flex 5

  &__menu
    display flex
    justify-content space-between
    & > *:hover
      background-color #c9c9be !important

  &__menu-section
    width 24rem
    & > *:hover
      background-color #c9c9be !important

  &__icon
    position absolute
    margin-top -1rem
    width 20px
    height 20px
    z-index 1

  &__icon-vert
    margin 1rem
    width 20px
    height 20px
    z-index 1
