.task-list
  &__tasks
    display inline-block
    margin 0
    padding-left 2.5rem

  &__icon
    position absolute
    margin-left -1.7rem
    margin-top -0.3rem
    width 25px
    height 25px
    z-index 1

  &__icon-button
    position absolute
    min-width 25px !important
    min-height 25px !important
    & > *
      width 25px
      height 25px
      border-radius 50px !important