.task
  padding-top 1rem
  display flex
  flex-direction row
  width 70%
  border-bottom 1px solid #c9c9be
  &:hover
    border-bottom 1px solid #ececec

  &__checkbox
    padding-top 0.2rem

  &__text-field
    align-content center
    padding-left 1rem
    font-size: 1.3rem

  &__edit-icon
    margin-left 0.5rem
    min-width 20px
    min-height 20px
    max-width 20px
    max-height 20px